 <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="#">Trang chủ</a>
      </li>
      <li class="active">Quản lý sản phẩm</li>
    </ul>
    <div class="nav-search">
      <p class="pull-right no-margin">
        <a (click)="createModal()" class="btn btn-success btn-xs">
          <i class="fa fa-plus"></i>&nbsp;Thêm
        </a>
      </p>
    </div>
  </div>
  
  
  <div class="row">
    <div class="col-xs-12">
      <!-- PAGE CONTENT BEGINS -->
      <p-panel header="Tìm kiếm" [style]="{'margin-top': '2px'}">
        <form class="form-horizontal" role="form" [formGroup]="formsearch"  (ngSubmit)="search()">
          <div class="form-group">
            <label class="col-sm-1 control-label no-padding-right"> Họ tên</label>
            <div class="col-sm-11">
              <input formControlName="tt_name"  type="text" placeholder="Họ tên" style="width: 100%;" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-1 control-label no-padding-right"></label>
            <div class="col-sm-11">
              <button (click)="search()" class="btn btn-sm btn-primary">Tìm kiếm</button>
            </div>
          </div>
        </form> 
      </p-panel>
      <p-table selectionMode="single" [value]="items" styleClass="p-datatable-gridlines">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 70px; text-align: center;">STT</th>
            <th style="width: 15%; text-align: left;">Mã tin tức</th>
            <th style="width: 20%; text-align: left;">Ảnh tin tức</th>
            <th style="width: 20%; text-align: left;">Tên tin tức</th>
            <th style="width: 20%; text-align: left;">Thời gian đăng bài</th>
            <th style="width: 120px; text-align: left;">Tác vụ</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-new  let-i="rowIndex">
       
          <tr>
            <td style="width: 70px; text-align: center;">{{ i + 1 }}</td>
            <td>{{ new.tt_id}}</td>
            <td><img style="width: 150px;" src="{{new.tt_image}}" alt=""></td>
            <td>{{ new.tt_name }}</td>
            <td>26-07-2020</td>
            <td class="action-col" >
              <div class="btn-group">
                <button title="" class="btn btn-xs btn-white btn-default"  (click)="openUpdateModal(new)">  
                  <i class="ace-icon fa fa-edit"></i>
                </button>
                <button title="" class="btn btn-xs btn-white btn-default" (click)="onDelete(new)">
                  <i class="ace-icon fa fa-trash"></i>
                </button>
              </div>  
            </td>
          </tr>
        </ng-template>
      </p-table>
      <!-- PAGE CONTENT ENDS -->
    </div>
    <div class="col-xs-12" style="text-align: right;">
      <ngb-pagination [collectionSize]="totalRecords" [pageSize]="pageSize" [(page)]="page" [maxSize]="10" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
    <!-- /.col -->
  </div>
  
  
  <!-- /.row -->
  <div *ngIf="showUpdateModal" id="createItemModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg full-height-modal">
      <div class="modal-content">
        <div class="modal-header">
          <h4  *ngIf="isCreate" class="modal-title">Nhập thông tin sản phẩm</h4>
          <h4 *ngIf="!isCreate" class="modal-title">Sửa thông tin sản phẩm</h4>
        </div>
        <form *ngIf="doneSetupForm" [formGroup]="formdata"  (ngSubmit)="onSubmit(formdata.value)" class="form-horizontal utehy-form">
          <div class="modal-body no-padding">
            <div class="form-group">
              <label class="col-sm-2 control-label no-padding-right"> Tên sản phẩm(<span style="color: red;">*</span>)</label>
              <div class="col-sm-5">
                <input type="text" placeholder="Họ tên" formControlName="tt_name"/>
                <div *ngIf="submitted && f.tt_name.errors" class="invalid-feedback">
                  <div *ngIf="f.tt_name.errors.required">Họ tên là bắt buộc</div>
                </div>
              </div>
              
            </div>
            
            <div class="form-group">
              <label class="col-sm-2 control-label no-padding-right"> Ảnh đại diện</label>
              <div class="col-sm-10">
                <p-fileUpload #file_image mode="advanced" [showUploadButton]="false" cancelLabel="Hủy" chooseLabel ="Chọn ảnh"   multiple="false" accept="image/*" maxFileSize="1000000">
                    <ng-template pTemplate="content">
                        <img *ngIf="item && item.tt_image" style="height: 100px;width: 100px;" [src]="item.tt_image">
                    </ng-template>
              </p-fileUpload>
             
              </div>
            </div>
  
       
            <div class="form-group">
              <label class="col-sm-2 control-label no-padding-right">Mô tả (<span style="color: red;">*</span>)</label>
              <div class="col-sm-5">
                <input type="text" placeholder="Giá" formControlName="tt_description"/>
                <div *ngIf="submitted && f.tt_description.errors" class="invalid-feedback">
                  <div *ngIf="f.tt_description.errors.required">Mô tả là bắt buộc</div>
                </div>
              </div>
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-sm" (click)="Reset()">
            <i class="fa fa-bell"></i> Làm mới
          </button>
          <button type="submit" class="btn btn-success btn-sm btn-submit">
            <i class="fa fa-save"></i> Đồng ý
          </button>
          <button type="button" class="btn btn-default btn-sm" (click)="closeModal()">
            <i class="fa fa-times"></i> Đóng lại
          </button>
        </div>
      </form>  
      </div>
    </div>
  </div>
  